cvxpy==1.4.2
datasets==2.4.0
fire==0.5.0
fraction==2.2.0
func_timeout==4.3.5
jsonlines==4.0.0
multiprocess==0.70.12.2
nltk==3.2.5
numpy==1.19.5
openai==0.8.0
pandas==1.1.5
pebble==5.0.6
pot==0.9.3
python_dateutil==2.9.0.post0
ray==2.9.3
regex==2023.6.3
requests==2.27.1
scikit_learn==1.4.1.post1
simcse==0.4
sympy==1.12
timeout_decorator==0.5.0
torch==1.7.0
tqdm==4.64.1
transformers==4.18.0
vllm==0.3.3
wolframalpha==5.0.0
